In [1]:
import os
os.getcwd()

'C:\\Users\\SONY\\Desktop\\internship-3'

In [2]:
import numpy as np
import pandas as pd
data=pd.read_csv("bodyfitness.csv")
data

          date  stepcount  caloriesburned  hoursofsleep  weight_kg
0    10/6/2019       5464             181             5         66
1    10/7/2019       6041             197             8         66
2    10/8/2019         25               0             5         66
3    10/9/2019       5461             174             4         66
4   10/10/2019       6915             223             5         66
..         ...        ...             ...           ...        ...
84  12/29/2019       3066              99             4         64
85  12/30/2019        177               5             5         64
86  12/31/2019         36               1             3         64
87    1/1/2020        299              10             3         64
88    1/2/2020       1447              47             3         64

[89 rows x 5 columns]

In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [4]:
label=LabelEncoder()

In [6]:
data['weight_kg']=label.fit_transform(data['weight_kg'])

In [7]:
data

          date  stepcount  caloriesburned  hoursofsleep  weight_kg
0    10/6/2019       5464             181             5          2
1    10/7/2019       6041             197             8          2
2    10/8/2019         25               0             5          2
3    10/9/2019       5461             174             4          2
4   10/10/2019       6915             223             5          2
..         ...        ...             ...           ...        ...
84  12/29/2019       3066              99             4          0
85  12/30/2019        177               5             5          0
86  12/31/2019         36               1             3          0
87    1/1/2020        299              10             3          0
88    1/2/2020       1447              47             3          0

[89 rows x 5 columns]

In [9]:
data['stepcount']=label.fit_transform(data['stepcount'])

In [10]:
data

          date  stepcount  caloriesburned  hoursofsleep  weight_kg
0    10/6/2019         75             181             5          2
1    10/7/2019         79             197             8          2
2    10/8/2019          0               0             5          2
3    10/9/2019         74             174             4          2
4   10/10/2019         83             223             5          2
..         ...        ...             ...           ...        ...
84  12/29/2019         41              99             4          0
85  12/30/2019          3               5             5          0
86  12/31/2019          1               1             3          0
87    1/1/2020          9              10             3          0
88    1/2/2020         29              47             3          0

[89 rows x 5 columns]

In [12]:
data.pivot_table(data,index=['weight_kg'])

           caloriesburned  hoursofsleep  stepcount
weight_kg
0               98.042254      5.126761  43.197183
1               88.444444      6.222222  40.666667
2              122.555556      5.666667  51.333333

In [13]:
mean_caloriesburned=data['caloriesburned'].mean()

In [14]:
mean_caloriesburned

99.5505617977528

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            89 non-null     object
 1   stepcount       89 non-null     int64
 2   caloriesburned  89 non-null     int64
 3   hoursofsleep    89 non-null     int64
 4   weight_kg       89 non-null     int64
dtypes: int64(4), object(1)
memory usage: 3.6+ KB

In [18]:
#Find outliers using IQR Score(i.e. IQR=Q3-Q1) 
Q1 = data.quantile(0.25)
Q3 = data.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

stepcount          44.0
caloriesburned    122.0
hoursofsleep        2.0
weight_kg           0.0
dtype: float64

In [20]:
data.shape

(89, 5)

In [23]:
X=data.iloc[:,:4].values

In [24]:
y=data.iloc[:,-1].values

In [25]:
X[:,-1]

array([5, 8, 5, 4, 5, 6, 6, 7, 5, 6, 8, 5, 6, 7, 5, 6, 8, 5, 4, 5, 6, 8,
       5, 6, 5, 8, 5, 4, 5, 4, 5, 4, 3, 2, 9, 5, 6, 4, 5, 8, 4, 5, 6, 5,
       6, 5, 6, 5, 6, 5, 6, 7, 6, 7, 6, 5, 6, 7, 8, 8, 7, 8, 5, 4, 3, 3,
       4, 5, 5, 5, 3, 4, 4, 5, 5, 5, 5, 5, 5, 4, 3, 4, 5, 5, 4, 5, 3, 3,
       3], dtype=object)

In [26]:
X[:,-1]=lb1.fit_transform(X[:,-1])

In [27]:
X

array([['10/6/2019', 75, 181, 3],
       ['10/7/2019', 79, 197, 6],
       ['10/8/2019', 0, 0, 3],
       ['10/9/2019', 74, 174, 2],
       ['10/10/2019', 83, 223, 3],
       ['10/11/2019', 64, 149, 4],
       ['10/12/2019', 60, 140, 4],
       ['10/13/2019', 25, 38, 5],
       ['10/13/2019', 2, 1, 3],
       ['10/15/2019', 27, 40, 4],
       ['10/16/2019', 42, 101, 6],
       ['10/17/2019', 67, 152, 3],
       ['10/18/2019', 68, 150, 4],
       ['10/19/2019', 45, 113, 5],
       ['10/20/2019', 30, 49, 3],
       ['10/21/2019', 39, 86, 4],
       ['10/22/2019', 4, 6, 6],
       ['10/23/2019', 44, 99, 3],
       ['10/24/2019', 61, 143, 2],
       ['10/25/2019', 49, 125, 3],
       ['10/26/2019', 53, 129, 4],
       ['10/27/2019', 5, 6, 6],
       ['10/28/2019', 8, 9, 3],
       ['10/29/2019', 10, 10, 4],
       ['10/30/2019', 35, 72, 3],
       ['10/31/2019', 65, 150, 6],
       ['11/1/2019', 63, 141, 3],
       ['11/2/2019', 69, 156, 2],
       ['11/3/2019', 33, 57, 3],
       ['11/4/2019', 36, 72, 2],
       ['11/5/2019', 14, 17, 3],
       ['11/6/2019', 75, 181, 2],
       ['11/7/2019', 79, 197, 1],
       ['11/8/2019', 56, 131, 0],
       ['11/9/2019', 66, 154, 7],
       ['11/10/2019', 52, 137, 3],
       ['11/11/2019', 80, 193, 4],
       ['11/12/2019', 17, 19, 2],
       ['11/13/2019', 43, 101, 3],
       ['11/14/2019', 51, 139, 6],
       ['11/15/2019', 70, 164, 2],
       ['11/16/2019', 58, 137, 3],
       ['11/17/2019', 19, 22, 4],
       ['11/18/2019', 16, 17, 3],
       ['11/19/2019', 7, 9, 4],
       ['11/20/2019', 59, 145, 3],
       ['11/21/2019', 78, 192, 4],
       ['11/22/2019', 62, 146, 3],
       ['11/23/2017', 84, 234, 4],
       ['11/24/2019', 72, 167, 3],
       ['11/25/2019', 15, 16, 4],
       ['11/26/2019', 12, 17, 5],
       ['11/27/2019', 23, 32, 4],
       ['11/28/2019', 24, 35, 5],
       ['11/29/2019', 82, 220, 4],
       ['11/30/2019', 47, 116, 3],
       ['12/1/2019', 21, 23, 4],
       ['12/2/2019', 28, 44, 5],
       ['12/3/2019', 55, 131, 6],
       ['12/4/2019', 38, 86, 6],
       ['12/5/2019', 77, 194, 5],
       ['12/6/2019', 34, 60, 6],
       ['12/7/2019', 48, 121, 3],
       ['12/8/2019', 37, 76, 2],
       ['12/9/2019', 40, 93, 1],
       ['12/10/2019', 31, 53, 1],
       ['12/11/2019', 22, 25, 2],
       ['12/12/2019', 85, 227, 3],
       ['12/13/2019', 50, 125, 3],
       ['12/14/2019', 86, 243, 3],
       ['12/15/2019', 11, 14, 1],
       ['12/16/2019', 26, 39, 2],
       ['12/17/2019', 32, 55, 2],
       ['12/18/2019', 71, 158, 3],
       ['12/19/2019', 6, 7, 3],
       ['12/20/2019', 81, 213, 3],
       ['12/21/2019', 46, 116, 3],
       ['12/22/2019', 54, 129, 3],
       ['12/23/2019', 18, 21, 3],
       ['12/24/2019', 20, 28, 2],
       ['12/25/2019', 13, 16, 1],
       ['12/26/2019', 76, 180, 2],
       ['12/27/2019', 57, 138, 3],
       ['12/28/2019', 73, 176, 3],
       ['12/29/2019', 41, 99, 2],
       ['12/30/2019', 3, 5, 3],
       ['12/31/2019', 1, 1, 1],
       ['1/1/2020', 9, 10, 1],
       ['1/2/2020', 29, 47, 1]], dtype=object)